<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Beer x</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" data-scroll href="#home">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-scroll href="#novedades">novedades</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-scroll href="#historia" tabindex="-1" aria-disabled="true">historia</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-scroll href="#nosotros">nosotros</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-scroll href="#conocenos">conocenos</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>
    <div class="container-fluid">
        <div id="home" class="row align-items-center hero">
            <div class="col-lg-3 offset-lg-2">
                <p>bajada</p>
                <h1>titulo principal</h1>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Reiciendis maiores incidunt a quos dolores
                    temporibus fugit eaque inventore non? Deserunt repudiandae facilis voluptatem possimus fugiat
                    consequuntur labore similique illum alias.</p>

            </div>

        </div>
        <div id="novedades" class="row py-4">
            <div class="col-md-5 offset-md-2 py-3">
                <h2>novedades</h2>
                <ul class="lista-novedades">
                    <li><a href="#"><img src="images/novedades01.jpg">nuevas recetas</a></li>
                    <li><a href="#"><img src="images/novedades01.jpg">nuevas recetas</a></li>
                    <li><a href="#"><img src="images/novedades01.jpg">nuevas recetas</a></li>
                    <li><a href="#"><img src="images/novedades01.jpg">nuevas recetas</a></li>
                    <li><a href="#"><img src="images/novedades01.jpg">nuevas recetas</a></li>

                </ul>

            </div>

            <div class="col-md-3">
                <div class="rounded py-3 testimonios">
                    <h2 class="text-center">testimonios</h2>
                    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                        </ol>
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <div class="testimonio">
                                    <h5>First slide label</h5>
                                    <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="testimonio">
                                    <h5>Second slide label</h5>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="testimonio">
                                    <h5>Third slide label</h5>
                                    <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
                                </div>
                            </div>
                        </div>
                        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button"
                            data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button"
                            data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>

            </div>

        </div>
        <!-- fin de novedades -->
        <!-- inicio historia -->
        <div id="historia" class="row align-items-center py-4">
            <div class="col-lg-2 col-md-3 offset-lg-2 d-none d-sm-block">
                <img src="images/historia_1.jpg" alt="historia 1" class="img-fluid">
            </div>
            <div class="col-lg-2 col-md-3 d-none d-sm-block">
                <img src="images/historia_2.jpg" alt="historia 2" class="img-fluid">
            </div>
            <div class="col-lg-4 col-md-6 mt-4 mt-sm-0">
                <h2>historia</h2>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Distinctio officia beatae praesentium
                    necessitatibus accusamus cumque vel natus quaerat, facere voluptates totam illo! Illo commodi
                    impedit quis architecto maiores cum iusto?</p>
            </div>
        </div>
        <!-- fin hisotoria -->
        <!-- inicio nosotros -->
        <div id="nosotros" class="row align-items-stretch my-3 staff py-4 staff">
            <div class="col-lg-8 offset-lg-2">
                <h2>nosotros</h2>
                <div class="card-deck">
                    <!-- inicio card-deck -->
                    <div class="card">
                        <img src="images/nosotros01.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card title">Diana Reyes</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk
                                of the card's content.</p>
                        </div>
                    </div>
                    <!-- fin card-deck -->
                    <!-- inicio card-deck -->
                    <div class="card">
                        <img src="images/nosotros02.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card title">Diana Reyes</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk
                                of the card's content.</p>
                        </div>
                    </div>
                    <!-- fin card-deck -->
                    <!-- inicio card-deck -->
                    <div class="card">
                        <img src="images/nosotros03.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card title">Diana Reyes</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk
                                of the card's content.</p>
                        </div>
                    </div>
                    <!-- fin card-deck -->
                    <!-- inicio card-deck -->
                    <div class="card">
                        <img src="images/nosotros04.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card title">Diana Reyes</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk
                                of the card's content.</p>
                        </div>
                    </div>
                    <!-- fin card-deck -->
                </div>

            </div>

        </div>
        <!-- fin nosotros -->
        <!-- inicio visitanos -->
        <div id="conocenos" class="row py-4">
            <div class="col-md-4 offset-md-2">
                <h2>visitanos</h2>
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3145.39144434036!2d-57.55813908416666!3d-37.967993150658295!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9584d9624b52b3dd%3A0x45f280498c7cd77e!2sConcepci%C3%B3n%20Arenal%205018%2C%20B7604EDB%20Mar%20del%20Plata%2C%20Provincia%20de%20Buenos%20Aires!5e0!3m2!1ses!2sar!4v1654041509700!5m2!1ses!2sar"
                        style="border:0;"></iframe>
                </div>
            </div>
            <!-- fin visitanos -->
            <!-- inicio contacto -->
            <div class="col-md-4 mt-4 mt-sm-0">
                <h2>contactanos</h2>
                <form action="/" method="post">

                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="nombre">nombre</label>
                            <input type="text" class="form-control" id="nombre" placeholder="" name="nombre">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="apellido">apellido</label>
                            <input type="text" class="form-control" id="apellido" placeholder="" name="apellido">
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="inputEmail4">Email</label>
                            <input type="email" class="form-control" id="email" placeholder="ejemplo@gmail.com" name="email">
                        </div>
                        <div class="form-group">
                            <label for="tel">tel</label>
                            <input type="text" class="form-control" id="tel" name="tel">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="mensaje">mensaje</label>
                        <textarea class="form-control" id="mensaje" rows="4"></textarea>
                    </div>

                    <button type="submit" class="btn btn-primary">Enviar</button>
                </form>
                {{#if message}}
                    {{message}}
                {{/if}}

            </div>
            <!-- fin contacto -->
        </div>




    </div>
    <footer>
        <p class="text-center">Diseñado por: Valentin Enriquez 2022</p>
    </footer>

